<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/output.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h1 class="text-4xl font-bold text-center">Welcome to ASP.NET Core 8 with Tailwind CSS</h1>
        @RenderBody()
    </div>
</body>
</html>
