<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <main>
        <header>
            <div class="navbar bg-primary text-primary-content">
				<div class="container mx-auto flex justify-between">
                    <div class="navbar-start flex">
                        <div class="dropdown">
                            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     class="h-5 w-5"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round"
                                          stroke-linejoin="round"
                                          stroke-width="2"
                                          d="M4 6h16M4 12h8m-8 6h16" />
                                </svg>
                            </div>
                            <ul tabindex="0"
                                class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                                <li><a>Item 1</a></li>
                                <li>
                                    <a>Parent</a>
                                    <ul class="p-2">
                                        <li><a>Submenu 1</a></li>
                                        <li><a>Submenu 2</a></li>
                                    </ul>
                                </li>
                                <li>PortalJob</li>
                            </ul>
                        </div>
                        <a class="btn btn-ghost text-xl">Portal Job</a>
                        <div class="hidden lg:flex">
                            <ul class="menu menu-horizontal px-1">
                                <li><a>Home</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form action="@Url.Action("Logout", "Account")" asp-controller="Account" method="post">
                                <button type="submit" class="btn btn-sm bg-red-500 text-white">Logout</button>
                            </form>
                        }
                        else
                        {
                            <a href="@Url.Action("Login", "Account")" class="btn btn-sm bg-cyan-50">Login</a>
                        }
                    </div>
                </div>
            </div>
        </header>
        <section>
            @RenderBody()

        </section>
        <footer>

        </footer>
    </main>
</body>
</html>
