@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Access Denied</h2>
<p>Anda tidak memiliki izin untuk mengakses halaman ini.</p>
<a asp-controller="Account" asp-action="Login">Kembali ke Login</a>

