@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Manager Panel</h2>
<p>Selamat datang di halaman Manager!</p>

<a href="/Account/Logout">Logout</a>
